name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java-version: [8, 11, 17, 21]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: "${{ matrix.java-version }}"

      - name: Clean build directory
        run: ./gradlew clean

      - name: Build and test
        run: ./gradlew build --info --console plain --refresh-dependencies

  lint:
    name: Lint
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # needed for super-linter

      - name: Lint codebase
        uses: super-linter/super-linter/slim@ffde3b2b33b745cb612d787f669ef9442b1339a6 # v8.1.0
        env:
          IGNORE_GITIGNORED_FILES: true
          FILTER_REGEX_INCLUDE: .*src/.*, .*test/.*
          FILTER_REGEX_EXCLUDE: .*package-info.java
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
